# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Test Multiplayer.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\drew\Test Multiplayer\.idea\.idea.Test Multiplayer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
